extends layout

block content
  h1= title
  p Welcome कान्छा/कान्छी, it's #{time}
  p: img(src="#{cdnUrl}/assets/images/nyan.gif", title="nyan cat")
  pre #{request_uuid}
  pre serving request from: #{hostname}
  a(href="https://gitlab.com/node-3tier-application/infra") everything is about this app is documented here
